[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/date"]
	path = external/date
	url = https://github.com/HowardHinnant/date
